body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


header {
    background-color: #182684;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    font-size: 24px;
    color: white;
}

header nav a {
    color: white;
    text-decoration: none;
    margin-left: 10px;
}

.apply-btn {
    background-color: #182684;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}

main {
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px
}

th, td {
    padding: 5px;
    text-align: left;
    border-bottom: 1px solid #D3D3D3;
	color: gray;
}

th {
    background-color: #182684;
    color: white;
}



.search-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

#searchInput {
    padding: 8px;
    border: 1px solid #D3D3D3;
    border-radius: 5px;
    width: 300px;
}

footer {
    background-color: #182684;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

footer .footer-links a {
    color: white;
    text-decoration: none;
    margin-right: 10px;
}

.social-icons {
    /* Add styles for social media icons */
}
